@tailwind base;
@tailwind components;

/**
 * Import variables
 */

@import "variables";

/**
 * Import layouts
 * It's a best practice to use a partial for each page
 */

@tailwind utilities;

/**
 * Common CSS
 */

@layer base {
  body {
    background-image: url("./../images/bg-vida2021.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
}
